<nav class="navbar fixed-top navbar-expand navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Alexander Defiesta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsEx" aria-controls="navbarsEx"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarsEx">
    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/store']">Store</a>
      </li>
    </ul>
    <ul class="navbar-nav mx-right text-center">
      <li class="nav-item navbar-right">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item navbar-right">
        <a class="nav-link" [routerLink]="['/cart']">Cart</a>
      </li>
      <!-- <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form> -->
    </ul>
  </div>
</nav>
