<div class="container">
  <div class="row">
    <div class="checkout col-8">
      <table class="table">
        <tr>
          <th scope="col">Print</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="checkout col">
      <table class="table">
        <tr>
          <td scope="col">Subtotal</td>
          <td scope="col">$0.00</td>
        </tr>
        <tr>
          <td scope="col">Shipping & Handling</td>
          <td scope="col">$0.00</td>
        </tr>
        <tr>
          <td scope="col">Tax</td>
          <td scope="col">$0.00</td>
        </tr>
        <tr>
          <td scope="col font-weight-bold">Total</td>
          <td scope="col">$0.00</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="checkout row">
    <div class="col-6">
      <h4 class="display-4 text-center">Shipping Address</h4>
      <form>
        <div class="row form-group">
          <label class="col">First Name</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Last Name</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Address</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Address 2</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">City</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">State</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Postal Code</label>
          <input class="col" type="text">
        </div>
      </form>
    </div>
    <div class="col-6">
      <h4 class="display-4 text-center">Billing Information</h4>
      <form>
        <div class="row form-group">
          <label class="col">First Name</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Last Name</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Address</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Address 2</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">City</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">State</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Postal Code</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col">Card Number</label>
          <input class="col" type="text">
        </div>
        <div class="row form-group">
          <label class="col-6">Expiration Date</label>
          <input class="col-3" type="number" placeholder="MM" min="1" max="12"><input class="col-3" type="number" placeholder="YYYY" min="2019">
        </div>
        <div class="row form-group">
          <label class="col">Security Code</label>
          <input class="col" type="text">
        </div>
      </form>
      <div class="text-right checkoutbtn">
        <button type="button" class="btn btn-dark">Checkout</button>
      </div>
    </div>
  </div>
</div>