<div class="">
  <div id="landingimage">
    <a href="#about" class="biolinks">
      <h1 class="text-uppercase display-3 font-weight-bold">Alexander Defiesta</h1>
      <h1 class="display-1 align-text-bottom"><i class="fas fa-chevron-circle-down"></i></h1>
    </a>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row d-flex align-items-top h-100">
        <div class="col">
          <img id="profile" alt="img-fluid profile" src="./assets/landing/alex.jpg">
        </div>
        <div class="col">
          <h1 class="display-4 text-left font-weight-bold">About</h1>
          <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum id lorem nec malesuada. Aenean at
          consectetur elit. Fusce condimentum maximus arcu sed laoreet. Integer sodales ultrices volutpat. Vestibulum ex neque,
          blandit et luctus quis, consequat ut velit. Nam faucibus semper augue at malesuada. Morbi semper eleifend orci, vel
          dignissim ante porta vitae. Aenean quam nibh, hendrerit id ante sit amet, venenatis fermentum arcu.</p>

          <a class="anchor" id="about"></a>
          <div class="text-center">
            <a class="biolinks" target="_blank" href="Resume.pdf"><i class="fas fa-file-alt"></i> Resume</a>
            <a class="biolinks" target="_blank" href="https://www.instagram.com/_alexthefilm_/"><i class="fab fa-instagram"></i> Instagram</a>
            <a class="biolinks" target="_blank" href="https://www.linkedin.com/in/alexander-defiesta-21036755/"><i class="fab fa-linkedin"></i>
              LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>